easy_pil
wheel
praw
googletrans==3.1.0a0
google_trans_new
translate
pysocks
socks
google_images_search
pymongo
numpy
requests
pyjokes
requests_random_user_agent
json_minify
secmail
names
bs4
gTTS
fancy_text
pillow
pytz
websocket-client==1.5.1
